// Color
$colorPrimeryText: #757575;
$colorSecondaryText: #212121;
$colorTitle: #fff;
$colorAccent: #2196f3;
$colorLogoText: #000000;
$colorFooterLink: rgba(255, 255, 255, 0.6);
$colorModalText: #fff;
$colorPrimeryButton: #fff;
$colorSecondaryButton: #000000;
$colorLogoPrimery: #000000;
$colorLogoSecondary: #fff;
$colorLogoAccent: #2196f3;

// Backgrount-color
$bgColorPrimery: #fff;
$bgColorAccent: #2196f3;
$bgColorOverlay: rgba(33, 150, 243, 0.9);
$bgColorModal: #fff;
$bgColorBackdrop: rgba(0, 0, 0, 0.2);
$bgColorSecondary: #f5f4fa;
$bgColorFooter: #2f303a;
$bgColorImg: #413a3a;
$bgColorButton: #2196f3;
$bgColorSocial: #ffffff10;
$bgColorBtnSecondary: rgba(245, 244, 250, 1);

// Other
$colorSecondaryIcon: #fff;
$colorIcon: #afb1b8;
$colorInputBorder: 1px solid rgba(33, 33, 33, 0.2);
$colorBorderHeader: rgba(236, 236, 236, 1);
$boxShadowHero: rgba(0, 0, 0, 0.15);
$colorBorderSub: rgba(255, 255, 255, 0.3);
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$colorLineGradient: rgba(47, 48, 58, 0.4);
$borderColor: rgba(33, 33, 33, 0.2);