// Hero

.hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;


  background-color: $bgColorImg;
  background-image: linear-gradient(to top, $colorLineGradient, $colorLineGradient),
    url('/images/450/hero480.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 480px) {
    max-width: 480px; 
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    background-image: linear-gradient(to top, $colorLineGradient, $colorLineGradient),
    url('/images/450/hero480@2x.jpg');
  }

  

  @media screen and (min-width: 768px) {
    max-width: 768px; 
    background-image: linear-gradient(to top, $colorLineGradient, $colorLineGradient),
    url('/images/768/hero768.jpg');
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    background-image: linear-gradient(to top, $colorLineGradient, $colorLineGradient),
    url('/images/768/hero768@2x.jpg');
  }
}

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    background-image: linear-gradient(to top, $colorLineGradient, $colorLineGradient),
    url('/images/1600/hero1600.jpg');
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    background-image: linear-gradient(to top, $colorLineGradient, $colorLineGradient),
    url('/images/1600/hero1600@2x.jpg');
  }
  }
}



.hero__container {
  margin-left: auto;
  margin-right: auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 118px;
    padding-bottom: 118px;
  

    

   @media screen and (min-width: 1200px) {
  
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: $colorTitle;
  margin-bottom: 30px;
 

font-weight: 900;
font-size: 26px;
line-height: 1.61;
letter-spacing: 0.06em;
text-transform: uppercase;



  @media screen and (min-width: 1200px) {
    

  font-size: 44px;
  line-height: 1.36;

  }
  
}
