/* Section 3 */

.people__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.people__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $bgColorPrimery;
  flex-basis: 100%;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px)/ 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px)/ 4);
  }
}

.people__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.people__inner {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 16px;
}

.people__name {
  margin-bottom: 10px;

  color: $colorSecondaryText;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}


.people__position {
  color: $colorPrimeryText;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
